#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
    height:auto;
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	padding: 6px .75em;
	overflow: auto;
    white-space:normal;
}

#MB_content table tr
{   width: 300px; 
}

#MB_caption {
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
#MB_close:hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(spinner.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	-webkit-box-shadow: 0 8px 64px #000; 
	-moz-box-shadow: 0 0 64px #000; 
	box-shadow: 0 0 64px #000;
	
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#MB_content { border-top: 1px solid #F9F9F9; }
#MB_header {
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}
#MB_caption { color: #000 }
#MB_close { color: #777 }
#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}

/* iplay4e extras */
#MB_frame { background-color: #E2DFC6; }
#MB_header { background-color: #324420; }
#MB_caption { color: #fff; font-size: 1.3em; text-transform: uppercase; }
#MB_caption:first-letter { font-size: 1.3em; }
#MB_content td label a { top: 4px; position:relative; }

div#MB_content textarea { width: 200px; }
div#MB_content form, div.managementEdit form { padding-top: 0px; margin-left: 10px;}
div#MB_content form th, div.managementEdit form th { text-align: left; vertical-align: top; }
div#MB_content form td ul, div.managementEdit form td ul { padding: 0; margin: 0; }
div#MB_content form td li, div.managementEdit form td li { list-style-type: none; white-space: nowrap; }
div#MB_content form td ul.errorlist, div.managementEdit form td ul.errorlist { color: red; }
div#MB_content form td ul.errorlist li, div.managementEdit form td ul.errorlist li { list-style-type: none; display: inline; white-space: nowrap; }


div#MB_content h2 { padding-top:3px; padding-bottom:3px; margin-bottom:0; font-size:1em; color: #324420; font-weight:bold; }
