/* INDEX */

body { background: #F0EDD2; }
    body.Page { overflow:hidden; text-align:center; } /* iframe handles our scrolling */
        body.Page div.container { text-align:left; margin-top:20px; height:auto; }
            body.Page div.container img#pageLogo { position:relative; top:-8px; }
        body.Page iframe { width:100%; overflow:hidden; }

a { color:#324420; }

.ResultMenuLinks { z-index:999; }

.BragPanelContent { padding:6px; height:18em; }
.BragPanelContent ul { margin:0; }
.BragPanelContent ul li 
{   background-image: url(/143371090575/images/d2016px.png);
    background-position: 2px left;
    background-repeat: no-repeat;
    padding-left: 20px; list-style: none; margin-bottom:6px;
}
.BragPanelContent ul li a { text-decoration:underline; }

.StatusMessage
    {   
        -webkit-box-shadow: rgba(0, 0, 0, 0.192188) 3px 3px 3px;
        border-top:1px solid #bbb; border-bottom:1px solid #bbb; 
        margin:4px auto;
        text-align:center; font-size:1.3em; 
        position:relative; top:-10px; 
        width:350px;
    }
    #pageError { background:rgb(250, 106, 100); }
    #pageSuccess { background:#64FF64; }

.FAQQuestion, .FAQAnswer { margin:0 8px 0 0; }
.FAQQuestion { margin-top: 10px; font-size:1.1em; color:#324420; font-weight:bold; }
.FAQAnswer { padding-top: 2px; margin-left: 16px; }
.IconHolder .FAQQuestion { cursor:pointer; margin-top: 0; font-size:1em; color:inherit; font-weight:normal; }
.IconHolder .FAQAnswer { padding-left:16px; }

div.CombatantDiv .FAQAnswer a { text-decoration:underline; }

#pagesBar, #userBar { font-size:13px; padding-top:3px !important; }
#pagesBar a, #userBar a { font-size:13px; padding-top:3px !important; }

    #pagesBar { float:left; padding-left:0.7em; text-align:left; }
        #pagesBar a { border:none; background:none; float:none; margin-right:1em; vertical-align:top; text-decoration:underline; }
        #pagesBar a.TabLink { text-decoration:none; }
        #pagesBar a.Active { color:black; font-weight:bold; text-decoration:none; font-size:1.0em; }
        #pagesBar .IconHolder .CombatantContent { top:14px; }
        #pagesBar .IconHolder a { text-decoration:none; }
        #pagesBar .IconHolder a.IconLink { margin-left:0; opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100); }

    #userBar { padding-bottom:7px !important; text-align:right; border-bottom:1px solid #9A9; height:16px; background-color:#ACE661; }
        #userBar a.New { color:rgb(144, 21, 3); }
        #userBar .last { margin-right:0.7em; }

        #userBar .IconHolder .CombatantContent { top:14px; }
        #userBar .IconHolder a { text-decoration:none; }
        #userBar .IconHolder a.IconLink { margin-left:0; opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100); }

#searchFieldset { padding-top:0; border:none; position:relative; left:25px; margin:0; }
    #searchFieldset a { font-size:.9em; }
    #searchFieldset input[type="text"] { width:100%; }

.FirstLeft { float:left; margin-left:0.7em; }
.LastRight { float:right; margin-right:0.7em; text-align:right; }

.title { font-size:1.2em; white-space:nowrap; }

    #searchBar, #paginationBar
    {
        height:22px; 
        padding:0 0 2px;
        background:rgb(226, 223, 198);
        font-size:1.3em;
    }

    #paginationBar 
    {
        margin-top:24px; 
        border-bottom:1px solid #bbb; 
    }
        #paginationBar a { border:none; background:inherit; float:none; margin-left:0.5em; vertical-align:top; }
        #paginationBar a.Active { color:black; font-weight:bold; text-decoration:none; }
        #paginationBar a.PreviousNext { font-weight:bold; margin-left:8px; }

    #searchBar { border-top:1px solid #bbb; }
        #searchBar .GroupAction { }
            #searchBar .GroupAction a 
            {   background:#F0EDD2; border: 1px solid #bbb; color:purple;
                padding:0 4px;
                text-decoration:none;
            }
        #searchBar .ResultMenuLinks { font-size:.8em; }
        #searchBar .ResultMenuLinks .CombatantContent { top:14px; }

    div.CharacterIframeDiv { position:relative; height:69px; }
        div.CharacterIframeDiv iframe 
        {   width:962px; overflow:hidden; position:relative; 
            position: absolute; left:-8px; 
        }
        div.CharacterIframeDiv a { text-decoration:none; margin:0; }

div.MonsterDiv { }
    div.MonsterDiv div.CombatantContent { background:rgb(226, 223, 198); }

div.CombatantsDiv { }
    div.CombatantsDiv div.RoundHeader { background:#324420; color:white; }
    div.CombatantsDiv div.RoundHeader a { color:white; margin:0 4px; }

    div.FloatPaper { position:relative; left:20px; }
    div.CombatantDiv { }
        div.CombatantDiv a { text-decoration:none; }

        div.CombatantDiv div { position:relative; text-align:left; } /* So LeftBullet works */
        div.LeftBullet { position:absolute; left:-34px; top:0; width:30px; text-align:right; white-space:nowrap; z-index:1000}
    
        div.CombatantDiv div.HPLabel { text-align:right; }

        .ResultMenuLinks h2 
        {
            height:22px; padding:0 0 2px;
            background:rgb(226, 223, 198);
            margin-bottom:4px; margin-top:0;
        }
    
        .IconHolder { position:relative; z-index: 999;}
        .IconHolder a { text-decoration:none; }
        .IconHolder a.IconLink { margin-left:16px; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); }
        .IconHolder a img { position:relative; left:-3px; top:3px; }
        .IconHolder .CombatantContent 
        {   position:absolute; top:16px; left:2px; z-index:100; 
            margin:0; white-space:nowrap; display:none;
            border-left:1px dotted #bbb; border-right:1px dotted #bbb; 
        }
        .IconHolder .CombatantContent .FAQQuestion 
        {   background-image: url(/143371090575/images/chevronsmall.png);
            background-position: 12px 5px;
            background-repeat: no-repeat;
            padding-left: 22px; list-style: none; margin-bottom:2px; margin-right:0; padding-right:8px;
        }
        .IconHolder iframe.MenuProtector
        {   position:absolute; z-index:9;
            filter:alpha(opacity=0); opacity:0; -moz-opacity:0;
            display:none;
        }
        .IconHolderHover .CombatantContent { display:block; }
        .IconHolderHover .CombatantContent .FAQQuestion:hover { background:#9A9; color:#fff; }
        .IconHolderHover .CombatantContent .FAQQuestion a:hover { color:#fff; }
        .IconHolderHover a { opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100); }
        .IconHolderHover iframe.MenuProtector
        {   display:block;
        }

        .CombatantSubheader .IconHolder .CombatantContent { top:12px; }

        .SearchResultMenuLinks { white-space:nowrap; }
        .SearchResultMenuLinks .ResultMenuLinks { font-size:.8em; }
        .SearchResultMenuLinks .ResultMenuLinks h2
        {
            font-size:1.3em; 
        }
        .SearchResultMenuLinks .IconHolder .CombatantContent { top:13px; }

        div.CombatantHeader { font-size:1.25em; }
        div.CombatantSubheader { font-size:1.1em; }
        div.CombatantSubContent {  margin-top: 4px; }
        div.CombatantSubContent .IconHolder .CombatantContent { top: 14px; }

        div.CombatantContent 
        {   background-color:#FAFFFA; -webkit-box-shadow: rgba(0, 0, 0, 0.192188) 3px 3px 3px;
            border-top:1px solid #bbb; border-bottom:1px solid #bbb; 
            margin-top:4px; text-align:left;
        }
            div.CombatantContent h2
            {
                    background:#9A9; color:#fff; font-size:1.0em; 
                    margin:0 0 0; padding-left:6px; padding-right:2px; 
                    font-weight:bold; width:auto; white-space:nowrap;
                    text-align:left;
                    <!--[if IE]>
                        width:100%;
                    <![endif]-->
            }

            div.CombatantDiv div.InlinePlus { float:left; }
            div.CombatantDiv div.InlinePlus img { width:12px; height:12px; margin-top:2px; }
            div.CombatantDiv div.Label { float:left; margin-left:4px; }
            div.CombatantDiv div.Active { color:black; font-weight:bold; text-decoration:none; }

            div.CombatantDiv a.Label { float:left; margin-left:4px; text-decoration:underline; }
            div.CombatantDiv a.Active { color:black; font-weight:bold; text-decoration:none; }
    
            div.CombatantDiv div.HPBar { height:6px; }
    
            div.CombatantDiv div.DefenseRow { }
            div.CombatantDiv div.DefenseRow div.span-1 { text-align:center; }
            div.CombatantDiv div.HeaderRow div.span-1 { font-weight:bold; color:#324420; }
    
            div.CombatantDiv div.CombatantDetails 
            {   margin:12px; padding-top:10px; 
                position:absolute; top:-20px; left:343px; width:561px; 
                background:white;
            }
            div.CombatantDiv div.CombatantDetails iframe { width:100%; height:400px; }

span.CampaignItem .primary { font-weight:bold; font-size:1.2em; }

div.CharacterTabLinks 
{   border-top:none; border-right:none; 
    -webkit-box-shadow: none;
    margin-top:5px; margin-bottom:0; 
}
div.CharacterTabLinks h2 
{   font-size:1em; background:#F0EDD2; border:none; color:black; font-weight:normal;
}
div.CharacterTabLinks h2 span 
{   cursor:pointer; padding:1px 3px 2px; margin-right:2px; 
    border:1px solid #bbb;
    border-bottom:none;
    background:#9A9; color:white;
}
div.CharacterTabLinks h2 span.Active 
{
    background:#FFF; color:black; position:relative; padding-bottom:6px;
    border-color:#9A9;
}

div.CampaignTabLinks 
{   border-top:none; border-right:none; margin-bottom:6px; 
    -webkit-box-shadow: none;
    margin-top:8px;
    border-radius:5px;
}
div.CampaignTabLinks h2 
{   font-size:1.2em; 
    border:none; color:black; 
    padding:4px 8px 2px;
}
div.CampaignTabLinks h2 span, span.h2Tab
{   cursor:pointer; 
    padding: 0 6px;
    margin-right:8px; 
    border-bottom:none;
    background:#9A9; color:white;
    font-family: verdana;
}
span.h2Tab
{   margin-top:8px; font-size:1.2em; font-weight:normal;
}
div.CampaignTabLinks h2 span.Active, h2 span.Active 
{
    color:black; position:relative; padding-bottom:6px; padding-top:2px;
    border-color:#9A9;
    background:#F0EDD2;
}
span.h2Tab
{   padding:2px 6px;
    border:1px solid @bbb;
}
h2 div span.Active 
{
    background-color:white; 
}

.ControlBar { font-size:12px;margin-top:20px;z-index:1000; }
#CampaignTabs .ControlBar { font-size:11px; margin-top:10px; }

table.MoneyTable { width:96%; }
table.MoneyTable tr td, table.MoneyTable tr th { padding-top:2px; padding-left:4px; }

@media screen 
{
    div#preloader {
        position: absolute;
        left: -9999px;
        top:  -9999px;
        }
    div#preloader img {
        display: block;
        }
}
@media print 
{
    div#preloader, 
    div#preloader img {
        visibility: hidden;
        display: none;
        }
}

