
.leightbox {
	color: #333;
	display: none;
	position: absolute;
	top: 77px;
	left: 169px;
	width: 622px;
	height: auto;
	border: .3em solid #BBB;
	background-color: white;
	text-align: left;
	z-index:1001;
	overflow: auto;	
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#lightboxInstructions
{   position:absolute; left:169px; top: 25px;
    font-size:2em; font-weight:bold; color:white;
}

.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }

/* Andrew added this */
a.lbAction { position:absolute; bottom:0; left:0; width:100%; color:white; text-align:center; font-size:1.5em; }
