.StraightDie { margin-right:8px; }
.FirstRollBundle { font-weight:bold; color:purple; }

a, a:link a:visited, a:active { color:inherit; text-decoration:none; }
.CompendiumLink, a.CompendiumLink, a.CompendiumLink:link, a.CompendiumLink:visited, a.CompendiumLink:active 
    { color:#121; text-decoration:none; font-style:italic;}
a.HelpLink, a.HelpLink:link, a.HelpLink:active, a.HelpLink:visited { font-weight:normal; color:#900; }
.PowerLink { font-style:italic; }
.PowerLink:hover, a.CompendiumLink:hover { text-decoration:underline; }
                
/* IE 8 and 8 */
.CharacterSectionContent 
{   height:281px; 
    overflow:auto; padding-left:6px; padding-right:2px; 
}
/* Firefox */
body:first-child .CharacterSectionContent
{
}
/* Safari hack */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{   .CharacterSectionContent 
    {   height:281px; 
    }
}
#superBrowser .CharacterSectionContent { width:304px; }

div.CompendiumBrowserDiv { background:white; height:520px; }
    div.CompendiumBrowserDiv iframe { float:right; width:100%; height:520px; }
div.ShortCompendiumBrowserDiv { background:white; height:auto; border:none; width:630px; overflow:visible; }
    div.ShortCompendiumBrowserDiv iframe { float:right; width:100%; height:520px; }
    div.ShortCompendiumBrowserDiv iframe.HasWeapons { float:right; width:100%; height:446px; }
    div.ShortCompendiumBrowserDiv iframe.NoWeapons { float:right; width:100%; height:463px; }

.CharacterOuterDiv
{   position: relative; min-width: 950px; width:100%;
    overflow: visible; text-align: left;
    margin-top: 2px; margin-left: auto; margin-right: auto;
}   

.CharacterOuterDiv h1
{   font-size: 1.0em; text-align: left; position:relative;
    margin-bottom: 3px; margin-top: 0px; height: 19px; 
}   
.CharacterOuterDiv h1, .CharacterOuterDiv h2, .CharacterOuterDiv .primary { font-family:verdana; }
.CharacterOuterDiv h2 .tertiary { text-transform:none; }
.CharacterOuterDiv h3 { font-size:1.3em; font-weight:bold; margin:8px 0;}
.CharacterOuterDiv .Score .secondary { float:right; margin:6px; }

.CharacterOuterDiv .primary { margin:3px 5px 0 0; font-size: 1.1em; color: #121; padding:0; }
/* Firefox and Safari hack */
.CharacterOuterDiv .secondary { font-weight:bold; }
.CharacterOuterDiv .tertiary { margin-right:10px; }

.CampaignTabs .powerCardRow { font-weight:normal; color:black; padding: 3px 12px; }
.CampaignTabs .altColor { background:#E2DFC6; }

.WithFactors { color: purple; }

/* Header and Navigation */
.IP4Sync { display:inline; position:relative; }
.IP4Syncing
{   background-image: url(/143371090575/images/DivLoadingSpinner.gif); 
    background-repeat: no-repeat; background-position: 0 2px; 
}
.IP4SyncError
{   background-image: url(/143371090575/images/exclamation-red-16.png); 
    background-repeat: no-repeat; background-position: 0 2px; 
}

a.Button 
{   border:1px solid #BBB; cursor:pointer; background:#E2DFC6; 
    text-align:center; padding:0 3px; min-width:20px; margin:auto 4px 4px; font-weight:bold; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 1px;
}
a.SecondaryButton { margin-left:6px; margin-right:6px; }
a.DamageButton, a.HealButton, a.UseSecondWindButton
{   width:75px; margin-right:4px; margin-bottom:6px;
}
a.UnchangedButton { opacity:.6; filter:alpha(opacity=60);text-decoration:line-through; }
a.UseSecondWindButton { color:#b61334; }
a.AddXPButton { float:right; margin-top:8px; }
a.RestButton { width:90px; margin:6px; margin-left:0; }
a.DailyUseButton { margin:6px; margin-bottom:4px;}

.CUR_Surges, .CUR_HitPoints, .CUR_PowerPoints { font-weight:bold; }
.CUR_HitPointsDying
{   color:#b61334; float:left; text-transform:uppercase; margin-right:8px;
}

.AbilityPiece { float:left; width:22px; }

input.Roller, .Roller, .RollerLook
{   border:1px solid #BBB; cursor:pointer; background:#E2DFC6; min-width:20px; text-align:center; 
    float:right; clear:both;
    -webkit-appearance: none; -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 1px;
    margin-right:4px;
}
.WeaponContent .Roller { float:none; }
.HeatmapRoller { border:none; background:#C2BFA6; }

/* Factors and Conditions */
.FactorModifier { float:left; min-width:24px; text-align:right; margin-right:4px; }
.ConditionFactorWrapper { font-style:italic; }

div.CUR_HitPointsBar, div.CUR_SurgesBar
{ position:absolute; top:0; left:0; height:6px; width:100%; }
div.CUR_TempHPBar
{ position:absolute; top:0; right:0; height:3px; width:100%; }

div.BloodiedMarker 
{   position: absolute; top:-16px; right: 50%; height:22px;
    color:#b61334; border-right: 1px solid #b61334;
    font-size:.8em; padding-right:3px;
}

a.AddConditionLI 
{   cursor:pointer;
    padding-left:18px;
	background-image: url(/143371090575/images/plus_circle_small.png); 
    background-repeat: no-repeat; background-position: 4px 2px; 
}
.CUR_ConditionsDelete
{   float:left; margin-right:10px; padding-left:13px; cursor:pointer;
	background-image: url(/143371090575/images/minus_circle_small.png); 
    background-repeat: no-repeat; background-position: 0 2px; 
}


/* Powers */
input.UsePower { width:auto; }
.Used { opacity:.6; filter:alpha(opacity=60);text-decoration:line-through; }

body.FullPageSheet
{   margin: 0; padding-top: 0px; overflow:hidden;
    text-align:center; min-width:525px; border-collapse: collapse;
    background:#F0EDD2;
    font-size: 11px; font-family: "Arial", sans-serif;
}

